@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap");

:root {
  --background-primary-color: #121725;
  --background-secondary-color: #2c344b;
  --primary-color: #54e6af;
  --secondary-color: #ffffff;
  --content-color: #c2cbe5;
}

body {
  margin: 0;
  font-family: "Chivo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--background-primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
